* {
    font-family: 'Spartan', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

#filter {
    height: 50px;
    /* min-width: 240px; */
    width: 80%;
    background-color: white;
    border-radius: 5px;
    position: relative;
    bottom: 27px;
    border: 2px solid black;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

#filter div {
    margin: 5px;
    background-color: hsl(180, 52%, 96%);
    /* border-top-left-radius: 3px; */
    /* border-bottom-left-radius: 3px; */
    border-radius: 3px;
}

#filter-container {
    width: 100%;
    height: 30px;
    background-color: hsl(180, 52%, 96%);
    display: flex;
    justify-content: center;
}

#main {
    background-color: hsl(180, 52%, 96%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-margin {
    height: 100px;
    background-color: hsl(180, 29%, 50%);
    background-image: url("./images/bg-header-mobile.svg");
}

#spacer {
    height: 20px;
}

.card {
    background-color: white;
    max-width: 240px;
    height: 200px;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 6px;
}

.company {
    color: hsl(180, 29%, 50%);
    font-size: 14px;
    font-weight: bold;
}

.card-featured {
    border-left: 6px solid hsl(180, 29%, 50%);
}

.desktop-img {
    display: none;
}

.featured { /* tagged on a span */
    text-transform: uppercase;
    color: white;
    font-size: 10px;
}

.featured-div { /* the div surrounding the span in the above class */
    padding: 3px;
    background-color: black;
    border-radius: 11px;
}

.filter-tag {
    padding: 5px;
    font-size: 12px;
}

.job-title {
    font-weight: bold;
}

.line-one {
    margin-top: 10px;

    display: flex;
}

.line-one div {
    margin-right: 10px;
}

.line-two {
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
}

.line-two span {
    display: inline-block;
}

.line-three {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #AAAAAA;
    font-size: 12px;
    white-space: nowrap;
}

.line-three span {
    display: inline-block;
}

.new {
    text-transform: uppercase;
    border-radius: 6px;
    color: white;
    font-size: 10px;
}

.new-div {
    padding: 3px;
    background-color: hsl(180, 29%, 50%);
    border-radius: 11px;
}

.svg-container {
    height: 0px;
}

.tag {
    background-color: hsl(180, 52%, 96%);
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    width: min-content;
}

.tag:active {
    background-color: hsl(180, 29%, 50%);
}

.tag span:active {
    color: white;
}

.tag span {
    color: hsl(180, 29%, 50%);
    font-size: 12px;
    font-weight: bold;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.x {
    padding: 5px;
}

.x:active {
    background-color: black;
    color: white;
}

@media screen and (min-width: 850px) {
    #top-margin {
        height: 100px;
        /* background-color: green; */
        background-image: url("./images/bg-header-desktop.svg");
    }

    .card {
        max-width: 90%;
        height: 120px;
        display: flex;
        /* border: 5px solid black; */
    }

    .desktop-container {
        display: flex;
        flex-direction: row;
    }

    .desktop-img {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
        /* border: 3px solid blue; */
    }

    .desktop-img div {
        /* border: 3px solid yellow; */
    }
    
    .linebreak {
        display: none;
    }

    .lines {
        margin-top: 10px;
        margin-left: 20px;
        height: fit-content;
        /* border: 3px solid red; */
    }

    .svg-container {
        display: none;
    }

    .tag {
        height: min-content;
        /* border: 2px solid pink; */
    }

    .tags {
        margin: 15px;
        width: 100%;
        text-align: right;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        /* border: 2px solid cyan; */
    }
}


/* StackOverflow Code */

.manager-portrait {
    width: 15%;
    height: auto;
    position: relative;
    top: -38px;
    left: 20px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 80%;
}